# .gitignore (Simplified Final Version)

# Python
.env
.venv
__pycache__/

# IDE and OS files
.idea/
.vscode/
.DS_Store

# Logs
logs/
*.log
logs.db

# DVC - We are not using it for the deployment
.dvc/
.dvcignore

# MLflow local runs
mlruns/
